@{
  Layout = "_Layout";
}

@using RecipeBox.Models

<div class="home">
  <h1>Recipe Box Manager</h1>
  <h4>Keeping track of your favorite recipes</h4>
  <hr>
  <div class="controls flex-center">
    <input type="button" class="btn btn-info" value="Food Categories" onclick="location.href='@Url.Action("Index", "Categories")'" />
    <input type="button" class="btn btn-success" value="Create an account" onclick="location.href='@Url.Action("Index", "Account")'" />
    <input type="button" class="btn btn-dark" value="All recipes" onclick="location.href='@Url.Action("Index", "Recipes")'" />
   
    </div>
</div>    

